:root{
    --color-main1: #F15B29;
    --color-opac1: #f15b2949;
    --color-main2:rgba(128, 128, 128, 0.63);
}
html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
body{
    margin:0;
    padding:0;
    font-family: 'Inter Tight', sans-serif;
}
/* accessories */
.border-right{
    border-right: 5px solid gray;
}
/* navbar */
#logo{
    margin-left:20px;
    width:40px;
    height:40px;
}
#brand-container{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.navbar{
    padding:0;
}
.nav-item{
    margin:5px;
}
/* .dropdown:hover .dropdown-menu{
    display:block;
} */
/* banner */
.banner{
    margin-top:52px;
    background-color: var(--color-main1);
    text-align: center;
    color:white;
    padding:15px 0;
}
h5{
    margin-bottom: 0;
    font-size:1em;
}
/* services part */
.img-crop{
    width:100vw;
    height:88vh;
    object-fit: cover;

}
/* square images */
.img-sq-r{
    width:100%;
    height:468px;
    padding:0px 10px 0px 0px;
    object-fit: cover;
}
@media (max-width:770px){
    #serv1-container, #serv2-container, #serv3-container, #serv4-container{
        padding-left: 0px;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 0px;
    }    
}
.row-pad{
    margin-top: 25px;
    padding:10px;
}
.rem-pad{
    padding:0;
}
.pad-top{
    padding-top:10px;
}
.pad-right{
    padding-right:10px;
}
.pad-left{
    padding-left:10px;
}
.pad-bottom{
    padding-bottom:10px;
}
#travel-tours{
  background-image:url(https://images.unsplash.com/photo-1557223563-8db8e5e7d90b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:100%;
  height:468px;
}
#travel-tours2{
    background-image:url(https://images.unsplash.com/photo-1553323855-cc1abf1930d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height:468px;
  }
  #travel-tours3{
    background-image:url(https://images.unsplash.com/photo-1608787721361-a8231d655d72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height:468px;
  }
  #travel-tours4{
    background-image:url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height:468px;
  }
/* About Us */
.about-container h3{
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: all ease-in 0.5s 0s;
}
.about-container p{
    text-align: center;
}
.about-container{
    text-align: center;
    min-width:250px;
    width:400px;
    height:400px;
}
.about-container:hover h3{
    border-bottom: 1px solid var(--color-main1);
}
.col-lg-4{
    display:flex;
    justify-content: center;
}
.about-row{
    margin-top:50px;
    overflow-x: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
ul{
    list-style-type: none;
    text-align: left;
}
@media (max-width:1050px){
    .about-row{
        justify-content: flex-start;
        margin:0 10px;
        margin-top:30px;
    }
    .about-container{
        text-align: center;
        width:400px;
        height:400px;
        padding:0 30px;
    }
    .about-container h3{
        font-size: 1.3em;
        font-weight: bold;
    }
    .about-container p{
        font-size:1.2em;
        text-align: justify;
    }

}
/* Events */
#events, #about-us{
    margin-top:50px;
    text-align:center;
}
#events h2, #about-us h2{
    font-weight:bold;
    letter-spacing:5px;
    color:var(--color-main1);
} 
#events a{
    font-size:1em;
    font-weight: normal;
    text-decoration: none;
    color: var(--color-main2);

    letter-spacing: 1px;
} 
#events a:hover{
    font-weight: bold;
    color: var(--color-main1);
}
.img-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.image-item img{
    width:500px;
    height:300px;
    transition: all ease-in-out 0.5s 0s;
}
.image-container{
    position: relative;
    width: 30vw;
    height:300px;
    overflow:hidden;
}
.image-item{
    position:absolute;
    top:0;
    left:0;
}
.image-container:hover .image-item img{
    transform: scale(1.2);
}

@media (max-width:800px){
    .image-container:hover .image-item img{
        transform: scale(1.1);
    }
    .img-row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-item img{
        width:100vw;
        height:auto;
        transition: all ease-in-out 0.5s 0s;
    }
    .image-container{
        position: relative;
        width: 100vw;
        height:65vw;
        overflow:hidden;
        object-fit: cover;
        margin-bottom: 10px;
    }
    .image-item{
        position:absolute;
        top:0;
        left:0;
    } 
}

/* Footer */
footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height:50px;
    background-color: var(--color-main2);
    color:rgba(255, 255, 255, 0.8);
}
footer p{
    font-family: serif;
    margin:0;
}

