:root{
    --color-main1: #F15B29;
    --color-opac1: #f15b2949;
    --color-main2:gray;
}
html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
body{
    margin:0;
    padding:0;
    font-family: 'Inter Tight', sans-serif;
}
/* navbar */
#logo{
    margin-left:20px;
    width:40px;
    height:40px;
}
.navbar{
    border-bottom: 1px solid var(--color-opac1);
}
.text-container{
    margin-right: 20px;
    padding:3px 0;
}
.text-container a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    transition: all ease-in 0.1s 0s;
    margin-left:15px;
}
.text-container a:hover{
    display:inline-block;
    cursor:pointer;
    transform:translateY(-2px);
    color: rgb(66, 66, 66);
}
/* banner */
.banner{
    background-color: var(--color-main1);
    text-align: center;
    color:white;
    padding:15px 0;
}
h5{
    margin-bottom: 0;
    font-size:1em;
}
/* services part */
.img-crop{
    width:100vw;
    height:88vh;
    object-fit: cover;

}
