:root{
    --color-main1: #F15B29;
    --color-opac1: #f15b2949;
    --color-main2:rgba(128, 128, 128, 0.63);
}
html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
body{
    margin:0;
    padding:0;
    font-family: 'Inter Tight', sans-serif;
}
/* accessories */
.border-right{
    border-right: 5px solid gray;
}
/* navbar */
#logo{
    margin-left:20px;
    width:40px;
    height:40px;
}
#brand-container{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.navbar{
    padding:0;
}
.nav-item{
    margin:5px;
}
/* .dropdown:hover .dropdown-menu{
    display:block;
} */
/* banner */
.banner{
    margin-top:52px;
    background-color: var(--color-main1);
    text-align: center;
    color:white;
    padding:15px 0;
}
h5{
    margin-bottom: 0;
    font-size:1em;
}
/* services part */
.img-crop{
    width:100vw;
    height:88vh;
    object-fit: cover;

}
/* square images */
.img-sq-l{
    width:100%;
    height:468px;
    padding:0px 10px 0px 10px;
    object-fit: cover;
}
.img-sq-r{
    width:100%;
    height:468px;
    padding:0px 10px 0px 0px;
    object-fit: cover;
}
@media (max-width:770px){
    .img-sq-r, .img-sq-l{
        padding:0px 0px 0px 0px;
        margin:0px 0px 0px 0px;
    }
}
.row-pad{
    margin-top: 25px;
    padding:10px;
}
.rem-pad{
    padding:0;
}
.pad-top{
    padding-top:10px;
}
/* About Us */
.about-container h3{
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: all ease-in 0.5s 0s;
}
.about-container p{
    text-align: center;
}
.about-container{
    text-align: center;
    min-width:250px;
    width:400px;
    height:400px;
}
.about-container:hover h3{
    border-bottom: 1px solid var(--color-main1);
}
.col-lg-4{
    display:flex;
    justify-content: center;
}
.about-row{
    margin-top:50px;
    overflow-x: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
ul{
    list-style-type: none;
    text-align: left;
}
@media (max-width:1050px){
    .about-row{
        justify-content: flex-start;
        margin:0 25px;
        margin-top:30px;
    }
    .about-container{
        text-align: center;
        width:400px;
        height:400px;
        padding:0 20px;
    }
    .about-container h3{
        font-size: 1.3em;
        font-weight: bold;
    }
    .about-container p{
        font-size:1.2em;
        text-align: justify;
    }
}
/* Events */
#events, #about-us{
    margin-top:50px;
    text-align:center;
}
#events h2, #about-us h2{
    font-weight:bold;
    letter-spacing:5px;
    color:var(--color-main1);
} 
#events a{
    font-size:1em;
    font-weight: normal;
    text-decoration: none;
    color: var(--color-main2);

    letter-spacing: 1px;
} 
#events a:hover{
    font-weight: bold;
    color: var(--color-main1);
}
.events-img{
    margin-top:10px;
    width:calc(100% - 5px);
    transition: all ease-in-out 0.3s 0.05s;
}

.events-img:hover{
    transform:scale(1.03);
}
/* Footer */
footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height:50px;
    background-color: var(--color-main2);
    color:rgba(255, 255, 255, 0.8);
}
footer p{
    font-family: serif;
    margin:0;
}

